### VisualStudioCode template
.vscode/*
# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

.idea/
*.iml

# CMake
cmake-build-*/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# JIRA plugin
atlassian-ide-plugin.xml

# Crashlytics plugin (for Android Studio and IntelliJ)
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

### yarn template
# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored

.pnp.*
.yarn/*
!.yarn/releases
!.yarn/patches
!.yarn/plugins
!.yarn/sdks
!.yarn/versions

dist/
node_modules/

src/config/config.json
src/config/existing-maps.json

.eslintcache

__to-upload__
